//primary colors
$primarySoftBlue: hsl(215, 51%, 70%);
$primaryCyan: hsl(178, 100%, 50%);
//neutral colors
$neutralVeryDarkBlue--main: hsl(217, 54%, 11%);
$neutralVeryDarkBlue--card: hsl(216, 50%, 16%);
$neutralVeryDarkBlue--line: hsl(215, 32%, 27%);
$neutralWhite: hsl(0, 0%, 100%);
//font
$font-family: "Outfit", sans-serif;
$font-weight: (
  "font-light": 300,
  "font-regular": 400,
  "font-semibold": 600,
);
